@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Noto+Serif:400,700');


body {
    color: #999;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.80857;
    max-width: 100%;
    margin: 0;
}

.wrapper-cards-services{
    margin: 0;
}

section.services_section{
    background: #f9f9f9;
    padding: 70px 15px;
}

.single-card{
    margin: 40px auto;
    max-width: 900px;
    min-height: 252px;
    position: relative;
    background-color: #fff;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.03);

}
.avatar_author{
    text-align: center;
    margin-top: -60px;
    position: relative;
    z-index: 3;
}
.post_credentials{
    position: absolute;
    z-index: 3;
    top: 40%;
    width: 100%;
    text-align: center;
}
.avatar_author img{
    border-radius: 50px;
    border: 1px double #999;
}
.post_content{
    max-width: 900px;
    padding: 0 15px;
    margin: 40px auto 100px;
    color: #111111;
    font-size: 18px;
}

.single-card a{
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
}

.service-widget-single{
    display: flex;
    font-family: 'Montserrat';
}

.service-widget-single h3{
    margin: 15px 0 15px;
    color: #1f1f1f;
    font-size: 24px;
    font-weight: 600;
}
.theme_section{
    padding: 0 15px;
}
.content-block-card{
    padding: 0 15px;
}

span.hr-line{
    border-top: 1px solid lightgray;
    display: block;
    max-width: 80%;
    margin: 0 auto;
}

.content-block-card p{
    color: #999;
}

.card-reversed{
    flex-direction: row-reverse;
    text-align: right;
}

.about-tab{
    max-width: 900px;
    margin: 0 auto;
}

ul.nav.nav-tabs{
    display: flex;
    justify-content: space-between;
    max-width: 380px;
    padding: 0;
    margin: 0 auto;
}

ul.nav.nav-tabs li{
   display: inline-block; 
}

ul.nav.nav-tabs li a{
    text-decoration: none;
    color: #000;
    transition: all .2s;
    border-radius: 5px;
    display: block;
    width: 90px;
    padding: 5px 10px;
    text-align: center;
}

ul.nav.nav-tabs li a:hover{
    background: #111111;
    color: #fff;
}

.tab-pane.fade{
    display: none;
}
ul.nav.nav-tabs li a.active_tab{
    background: #bb9d52;
    color: #fff;
}
.tab-content{
    text-align: center;
}
.tab-content ul{
    padding: 0;
    list-style-type: disc;
}

.tab-content ul li {
    padding-left: 20px;
    display: inline-block;
}

.tab-pane.fade.active_tab_block{
    display: block;
}
.section-tabs{
    padding: 20px 15px;
    margin: 50px 0;
}
.about-tab{
    border-top: 1px dashed #f2f3f5;
    border-bottom: 1px dashed #f2f3f5;
    padding: 50px 0;
}
.image-wrapp{
    position: relative;
    max-height: 360px;
}

.img-wrapper-overlay{
    position: absolute;
    content: '';
    opacity: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 252px;
    z-index: 2;
    transition: all .2s;
    background-color: rgba( 0, 0, 0, 0.50 ) ;
}

.image-wrapp img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    transition: all .2s;
}

.single-card:hover img{
    transform: scale(1.5);
    transition: all .2s;
}
.single-card:hover .img-wrapper-overlay{
    opacity: 1;
    transition: all .2s;
}

.img-wrapper{
    width: 390px;
    max-height: 252px;
    overflow: hidden;
}

.copyrights{
    border-top: 1px dashed rgba(255, 255, 255, 0.1);
    background-color: #000000;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 50px 60px;
    overflow: hidden;
}

.footer-distributed{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

p.footer-links a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0 15px;
}
.footer-company-name{
    margin: 0 15px;
}

.footer-company-name a{
    color: #fff;
}

.footer-right input{
    display: block;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #181818;
    border: none;
    font: inherit;
    font-size: 15px;
    font-weight: normal;
    color: #999;
    width: 400px;
    padding: 18px 50px 18px 18px;
    margin: 10px 0;
}

.title_section_services{
    text-align: center;
}

.title_section_services .lead{
    color: #000;
}

.title_section_services{
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.title_section_services h3{
    color: #111111;
    font-size: 34px;
}

.title_section_services hr{
    max-width: 40px;
}

.button_services{
    display: block;
    text-align: center;
    color: #fff;
    background: #111111;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid #111111;
    transition: all .2s;
    padding: 10px 30px;
    max-width: 300px;
    margin: 40px auto 0;
    text-decoration: none;
}

.button_services:hover{
    background: #fff;
    color: #111111;
}


.divider_section{
    width: 100%;
    padding: 30px 0;
    background: #111111;
    color: #fff;
}

.site-menu{
    background: #111111;
    color: #fff;
}

.site-menu{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    right: 0;
}

.site-menu ul{
    display: flex;
    justify-content:flex-end ;
}

.site-menu ul li{
    display: inline-block;
    
}

.site-menu ul li a{
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.site-menu ul li a:hover{
    background: crimson;
}

.single_post_headers{
    position: relative;
}
.headers_overlay{
    background: rgba( 0, 0, 0, 0.60 );
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index:1;
    height: 100%;
}

.the_single_title{
    font-size: 45px;
    color: #fff;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.thumbnail_rapper{
    width: 100%;
}

.thumbnail_rapper img {
    width: 100%;
    height: 490px;
    object-fit: cover;
}

.row_for_slider{
    max-width: 1168px;
    margin: 0 auto;
}
.row_for_slider h4{
    font-size: 18px;
    color: #ffffff;
    padding: 13px 0 0;
    text-align: right;
}

.testimonial.clearfix{
    max-width: 510px;
    position: relative;
    z-index: 2;
}
.desc{
    padding: 30px;
    position: relative;
    background: #bb9d52;
    border: 1px solid #bb9d52;
    border-radius: 10px;
    max-width: 100%;
}

.section-testimonials{
    padding: 70px 15px 100px;
    position: relative;
}

.overlay_testimonials{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba( 0, 0, 0, 0.60 )
}

.desc h3{
    color: #fff;
    padding: 0 0 10px;
    font-size: 20px;
    font-weight: 300;
}

.testimonial small, .lead{
    background-color: transparent;
    color: #ffffff;
    display: block;
    font-size: 16px;
    font-style: italic;
    line-height: 30px;
    margin: 0;
    padding: 0;
    position: relative;
}

.testimonials{
    min-height: 600px;
}
.title_section_services.colors_class div p.lead{
    color: #ffffff !important;
}
.title_section_services.colors_class h3{
    color: #ffffff !important;
}
.title_section_services.colors_class div{
    position: relative;
    z-index: 2;
}

.testi-meta {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.testi-meta img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

#testimonials{
    background-attachment: fixed;
}

@media screen and ( max-width: 992px ) {
    
    .single-card{
        margin: 20px 0;   
    }
    
    .single-card{
        margin: 20px 0;
        max-width: 500px;
        width: 100%;
    }

    .service-widget-single{
        flex-direction: column;
        align-items: center;    
        text-align: center;
    }
    .content-block-card{
        padding: 20px 15px 0;
    }

    .img-wrapper{
        width: 100%;
        max-height: 250px;
        overflow: hidden;
    }

}
@media screen and ( max-width: 768px  ){
    
    .footer-distributed{
        justify-content: center;
        flex-direction: column;
    }

    .copyrights{
        padding: 30px 15px;
    }

    .footer-right input{
        margin: 20px 0;
        padding: 10px 30px 10px 10px ;
    }

    .footer-company-name{
        margin: 25px 10px;
    }

    p.footer-links a{
        font-size: 12px;
    }

    .post_credentials{
        top: 30%;
    }
    .post_content{
        font-size: 14px;
    }
    .the_single_title{
        font-size: 30px;
    }

}
@media screen and ( max-width: 480px ){
    
    ul.nav.nav-tabs li a{
        width: 85px;
        font-size: 12px;
        padding: 0 2px;
        text-align: center;
    }

    .footer-left{
        width: 100%;
    }

    .content-block-card {
        padding: 5px 15px 10px;
    }

    .service-widget-single h3 {
        margin: 0;
    }
    
    .footer-right input{
        width: 100%;
    }
    
}


@media screen and ( max-width: 360px ){
    
    .img-wrapper-overlay{
        height: 200px;
    }

    .img-wrapper{
        max-height: 200px;
    }

}