@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Noto+Serif:400,700');


body {
    color: #999;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.80857;
    max-width: 100%;
    margin: 0;
    background: #f2f3f5;
}

.wrapper-cards-services{
    margin: 0;
}

section.services_section{
    background: #f2f3f5;
    padding: 70px 15px;
}

.single-card{
    margin: 40px auto;
    max-width: 900px;
    min-height: 252px;
    position: relative;
    background-color: #fff;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.03);

}
.avatar_author{
    text-align: center;
    margin-top: -60px;
    position: relative;
    z-index: 3;
}
.post_credentials{
    position: absolute;
    z-index: 3;
    top: 40%;
    width: 100%;
    text-align: center;
}
.avatar_author img{
    border-radius: 50px;
    border: 1px double #999;
}
.post_content{
    max-width: 900px;
    padding: 0 15px;
    margin: 40px auto 100px;
    color: #111111;
    font-size: 18px;
}

.single-card a{
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
}

.service-widget-single{
    display: flex;
    font-family: 'Montserrat';
}

.service-widget-single h3{
    margin: 15px 0 15px;
    color: #1f1f1f;
    font-size: 24px;
    font-weight: 600;
}
.theme_section{
    padding: 0 15px;
}
.content-block-card{
    padding: 0 15px;
}

span.hr-line{
    border-top: 1px solid lightgray;
    display: block;
    max-width: 80%;
    margin: 0 auto;
}

.content-block-card p{
    color: #999;
}

.card-reversed{
    flex-direction: row-reverse;
    text-align: right;
}

.about-tab{
    max-width: 900px;
    margin: 0 auto;
}

ul.nav.nav-tabs{
    display: flex;
    justify-content: space-between;
    max-width: 380px;
    padding: 0;
    margin: 0 auto;
}

ul.nav.nav-tabs li{
   display: inline-block; 
}

ul.nav.nav-tabs li a{
    text-decoration: none;
    color: #000;
    transition: all .2s;
    border-radius: 5px;
    display: block;
    width: 90px;
    padding: 5px 10px;
    text-align: center;
}

ul.nav.nav-tabs li a:hover{
    background: #111111;
    color: #fff;
}

.tab-pane.fade{
    display: none;
}
ul.nav.nav-tabs li a.active_tab{
    background: #bb9d52;
    color: #fff;
}
.tab-content{
    text-align: center;
    color: #1f1f1f;
}
.tab-content ul{
    padding: 0;
    list-style-type: disc;
}

.tab-content ul li {
    padding-left: 20px;
    display: inline-block;
}

.tab-pane.fade.active_tab_block{
    display: block;
}
.section-tabs{
    padding: 70px 15px;
    margin: 0;
    background: aliceblue
}
.about-tab{
    border-top: 1px dashed #f2f3f5;
    border-bottom: 1px dashed #f2f3f5;
    padding: 50px 0;
}
.image-wrapp{
    position: relative;
    max-height: 360px;
}

.img-wrapper-overlay{
    position: absolute;
    content: '';
    opacity: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 252px;
    z-index: 2;
    transition: all .2s;
    background-color: rgba( 0, 0, 0, 0.50 ) ;
}

.image-wrapp img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    transition: all .2s;
}

.single-card:hover img{
    transform: scale(1.5);
    transition: all .2s;
}
.single-card:hover .img-wrapper-overlay{
    opacity: 1;
    transition: all .2s;
}

.contact_data_section{
    max-width: 100%;
    background-color: #111111;

}
.contact_data_section .contact_data{
    max-width: 900px;
    padding: 20px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 0 15px;
}
.contact_data_section .contact_data div{
    padding: 10px 20px ;
}
.contact_data_section .contact_data a{
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

.about_title{
    text-align: center;
    margin: 0 ;
    padding: 25px;
    color: #fff;
    text-transform: uppercase;
}

.examples_work_contents{
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px 15px;
    display: flex;
    justify-content: space-between;
    background: #111111;
}

.single_example{
    max-width: 900px;
    display: flex;
    justify-content: space-between;
}

.single_example{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.single_example img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.single_example a img{
    border-radius: 100px;
    transition: all .3s;
}
.single_example a{
    position: absolute;
    z-index: 2;
    border-radius: 100px;
    display: block;
    width: 100%;
    height: 100%;
}

.single_example a:hover img{
    transform: scale( 1.2);
}

.img-wrapper{
    width: 390px;
    max-height: 252px;
    overflow: hidden;
}

.copyrights{
    border-top: 1px dashed rgba(255, 255, 255, 0.1);
    background-color: #1f1f1f;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 50px 60px;
    overflow: hidden;
}

.footer-distributed{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-links ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}


.footer-links ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 300;
    font-weight: bold;
    margin: 0 15px;
}
.footer-company-name{
    margin: 0 15px;
}

.footer-company-name a{
    color: #fff;
}

.footer-right input{
    display: block;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #111111;
    border: none;
    font: inherit;
    font-size: 15px;
    font-weight: normal;
    color: #999;
    width: 400px;
    padding: 18px 50px 18px 18px;
    margin: 10px 0;
}

.title_section_services{
    text-align: center;
}

.title_section_services .lead{
    color: #000;
}

.title_section_services{
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.title_section_services h3{
    color: #111111;
    font-size: 34px;
}

.title_section_services hr{
    max-width: 40px;
}

.site_branding_block{
    height: 400px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.logo_img_header_banner{
    position: absolute;
    display: flex;
    width: 100%;
    left: 0;
    top: 40%;
    justify-content: center;
}

.logo_img_header_banner img{
    width: 180px;
    height: auto;
}

.button_services{
    display: block;
    text-align: center;
    color: #fff;
    background: #111111;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid #111111;
    transition: all .2s;
    padding: 10px 30px;
    max-width: 300px;
    margin: 40px auto 0;
    text-decoration: none;
}

.button_services:hover{
    background: #fff;
    color: #111111;
}


.divider_section{
    width: 100%;
    padding: 30px 0;
    background: #111111;
    color: #fff;
}

.cbt_link{
    color: #fff;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

.site-menu{
    background: #1f1f1f;
    color: #fff;
    display: flex;
    justify-content: end;
}

.site-menu{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    right: 0;
}

.site-menu ul{
    display: flex;
    justify-content:flex-end ;
}

.site-menu ul li{
    display: inline-block;
    
}

.site-menu ul li a{
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    display: block;
    transition: all .3s;
    border-bottom: 1px solid transparent;
}

.site-menu ul li a:hover{
    border-bottom: 1px solid #ffffff;
}
.site-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.site-logo img{
    width: 100px;
    height: auto;
}

.site-logo.header_top{
    display: none;
}

.single_post_headers{
    position: relative;
}
.headers_overlay{
    background: rgba( 0, 0, 0, 0.60 );
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index:1;
    height: 100%;
}

.the_single_title{
    font-size: 45px;
    color: #fff;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.thumbnail_rapper{
    width: 100%;
}

.thumbnail_rapper img {
    width: 100%;
    height: 490px;
    object-fit: cover;
}

.row_for_slider{
    max-width: 1168px;
    margin: 0 auto;
    overflow: hidden;
}
.row_for_slider h4{
    font-size: 18px;
    color: #ffffff;
    padding: 13px 0 0;
    text-align: right;
}
.slick-list.draggable{
    overflow: hidden !important;
    padding: 0 !important;
}

.testimonial.clearfix{
    max-width: 510px;
    position: relative;
    z-index: 2;
}
ul.slick-dots li button{
    display: none;
}

ul.slick-dots li{
    cursor: pointer;
}

ul.slick-dots li::marker{
    font-size: 24px;    cursor: pointer;
    display: block;
}

ul.slick-dots li.slick-active::marker{
    color: #fff;
}

ul.slick-dots{
    margin: 0 auto;
    width: 100px;
    padding-left: 24px !important;
    padding-top: 30px !important;
    display: flex;
    padding-left: 0;
    justify-content: space-between;
}
.slide_wrap{
    width: 50%;
}
.desc{
    padding: 30px;
    position: relative;
    background: #bb9d52;
    border: 1px solid #bb9d52;
    border-radius: 10px;
    max-width: 100%;
}


.section-testimonials{
    padding: 70px 15px 100px;
    position: relative;
}

.overlay_testimonials{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba( 0, 0, 0, 0.60 )
}

.desc h3{
    color: #fff;
    padding: 0 0 10px;
    font-size: 20px;
    font-weight: 300;
}

.testimonial small, .lead{
    background-color: transparent;
    color: #ffffff;
    display: block;
    font-size: 16px;
    font-style: italic;
    line-height: 30px;
    margin: 0;
    padding: 0;
    position: relative;
}

.testimonials{
    min-height: 600px;
}
.title_section_services.colors_class div p.lead{
    color: #ffffff !important;
}
.title_section_services.colors_class h3{
    color: #ffffff !important;
}
.title_section_services.colors_class div{
    position: relative;
    z-index: 2;
}

.testi-meta {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.testi-meta img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

#testimonials{
    background-attachment: fixed;
}
.menu_toggle_button{
    display: none;
    width: 30px;
    min-height: 30px;
    position: relative;
    z-index: 10;
    right: 0;
    padding: 15px;
    cursor: pointer;
}

.menu_toggle_button span{
    display: block;
    margin: 5px 0;
    width: 100%;
    height: 3px;
    border-radius: 50px;
    background: #fff;
    transition: all .3s;
    max-width: 30px;
}

.menu_active_overlay{
    position: fixed;
    opacity: 0;
    left: 0;
    top: 0;
    transition: all .3s;
    z-index: 5;
    width: 0;
    bottom: 0;
    height: 100vh;
    background: rgba( 0, 0, 0, 0.6 );
}

#togle_menu div.menu{
    position: static;
    width: 100%;
    opacity: 1;
    transition-delay: .2s;
    top: 0;
    bottom: 0;
    background: #1f1f1f;
    transition: all .5s;
}

#togle_menu div.menu ul {
    padding-left: 0;
    flex-direction: row;
}

#togle_menu div.menu{
    display: flex;
    justify-content: center;
}

.page_about_content h1{
    text-align: center;
}
.page_about_content div{
    font-size: 18px;
    color: #1f1f1f;
}
.page_about_content {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
}

@media screen and (max-width: 1240px ){
    .desc{
        padding: 20px;
        position: relative;
        background: #bb9d52;
        border: 1px solid #bb9d52;
        border-radius: 10px;
        max-width: 100%;
    }

    .desc h3{
        font-size: 18px;
        margin: 0;
    }

    .desc p.lead{
        font-size: 14px;
    }

    .slide_wrap{
        width: 80% !important;
        display: block !important;
        margin: 0 auto;
    }
    .testimonial.clearfix{
        margin: 0 auto;
    }

}

@media screen and ( max-width: 992px ) {
    
    .single-card{
        margin: 20px auto;   
    }
    .site-menu{
        justify-content: space-between;
        align-items: center;
    }
    .site-logo.header_top{
        padding: 10px 20px 0 20px ;
        display: block;
    }
    .single-card{
        margin: 20px auto;
        max-width: 500px;
        width: 100%;
    }

    .service-widget-single{
        flex-direction: column;
        align-items: center;    
        text-align: center;
    }
    .content-block-card{
        padding: 20px 15px 0;
    }
    
    div.menu .site-logo{
        display: none;
    }

    .img-wrapper{
        width: 100%;
        max-height: 250px;
        overflow: hidden;
    }

    #togle_menu div.menu{
        position: absolute;
        width: 320px;
        left: -320px;
        opacity: 0;
        transition-delay: .2s;
        top: 0;
        bottom: 0;
        background: #1a1112;
        height: 100vh;
        transition: all .5s;
    }
    #togle_menu div.menu ul {
        padding-left: 0;
        flex-direction: column;
    }
    #togle_menu div.menu{
        display: flex;
        justify-content: center;
    }
    #togle_menu div.menu ul li{
        text-align: center;
        margin: 0;
        padding: 20px 0;
    }

    .menu_toggle_button{
        display: block;
    }
    
    .menu_toggle_button.active_button span.first_block{
        transform: rotate( 45deg );
        transition: all .5s;
        top: 20px;
        position: absolute;
    }
    .menu_toggle_button.active_button span.second_block{
        display: none;
    }

    .menu_toggle_button.active_button span.third_block{
        top: 20px;
        transform: rotate( -45deg );
        transition: all .5s;
        position: absolute;
    }

    #togle_menu div.menu.active_menu{
        display: block;
        opacity: 1;
        left: 0
    }    
    .menu_active_overlay.active{
        width: 100%;
        opacity: 1;
    }

}

@media screen and (max-width: 1122px){
    .examples_work_contents{
        max-width: 700px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .single_example{
        margin: 15px;
    }
}

@media screen and ( max-width: 768px  ){
    
    .footer-distributed{
        justify-content: center;
        flex-direction: column;
    }

    .copyrights{
        padding: 30px 15px;
    }

    .footer-right input{
        margin: 20px 0;
        padding: 10px 30px 10px 10px ;
    }

    .footer-company-name{
        margin: 25px 10px;
    }

    p.footer-links a{
        font-size: 12px;
    }

    .post_credentials{
        top: 30%;
    }
    
    .post_content{
        font-size: 14px;
    }

    .the_single_title{
        font-size: 30px;
    }
    .title_section_services h3{
        font-size: 24px;
    }

}
@media screen and ( max-width: 480px ){
    
    ul.nav.nav-tabs li a{
        width: 85px;
        font-size: 12px;
        padding: 0 2px;
        text-align: center;
    }
    
    .slide_wrap{
        width: 100% !important;
        display: block !important;
        margin: 0 auto;
    }
    
    .footer-left{
        width: 100%;
    }

    .content-block-card {
        padding: 5px 15px 10px;
    }

    .service-widget-single h3 {
        margin: 0;
    }
    
    .footer-right input{
        width: 100%;
    }
    
    .site-logo.header_top img{
        width: 60px;
    }

}


@media screen and ( max-width: 360px ){
    
    .img-wrapper-overlay{
        height: 200px;
    }

    .img-wrapper{
        max-height: 200px;
    }

}


/*------------- CARDS ----------------*/
.site-continer {
    padding: 100px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto;
    font-family: 'Montserrat';
 }

@media (min-width: 600px) {
	
}
 @media (min-width: 800px) {
	
}
 .card {
	 position: relative;
	 display: flex;
	 align-items: flex-end;
	 overflow: hidden;
	 padding: 1rem;
     width: 240px;
	 max-width: 240px;
     margin: 40px 40px; 
	 text-align: center;
	 color: whitesmoke;
	 background-color: whitesmoke;
	 box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
    }
 @media (min-width: 600px) {
	 .card {
		 height: 350px;
	}
}
 .card:before {
	 content: '';
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 110%;
	 background-size: cover;
	 background-position: 0 0;
	 transition: transform calc(var(--d) * 1.5) var(--e);
	 pointer-events: none;
}
 .card:after {
	 content: '';
	 display: block;
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 200%;
	 pointer-events: none;
	 background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.320) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.540) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.790) 100%);
	 transform: translateY(-50%);
	 transition: all .3s;
}
 .card:nth-child(1) {
	 background-image: url(https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
 .card:nth-child(2) {
	 background-image: url(https://images.unsplash.com/photo-1533903345306-15d1c30952de?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
 .card:nth-child(3) {
	 background-image: url(https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
 .card:nth-child(4) {
	 background-image: url(https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
 .content {
	 position: relative;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 width: 100%;
	 padding: 1rem;
	 transition: all .3s;
	 z-index: 1;
}
 .content > * + * {
	 margin-top: 1rem;
}
 .title {
	 font-size: 1.3rem;
	 font-weight: bold;
	 line-height: 1.2;
}
 .copy {
	 font-family: var(--font-serif);
	 font-size: 1.125rem;
	 font-style: italic;
	 line-height: 1.35;
}
 .btn {
	 cursor: pointer;
	 margin-top: 1.5rem;
	 padding: 0.75rem 1.5rem;
	 font-size: 0.65rem;
	 font-weight: bold;
	 letter-spacing: 0.025rem;
	 text-transform: uppercase;
	 color: white;
	 background-color: black;
	 border: none;
}
 .btn:hover {
	 background-color: #0d0d0d;
}
 .btn:focus {
	 outline: 1px dashed yellow;
	 outline-offset: 3px;
}
 @media (hover: hover) and (min-width: 600px) {
	 .card:after {
		 transform: translateY(0);
	}
	 .content {
		 transform: translateY(calc(100% - 4.5rem));
	}
	 .content > *:not(.title) {
		 opacity: 0;
		 transform: translateY(1rem);
		 transition: transform var(--d) var(--e), opacity var(--d) var(--e);
	}
	 .card:hover, .card:focus-within {
		 align-items: center;
	}
	 .card:hover:before, .card:focus-within:before {
		 transform: translateY(-4%);
	}
	 .card:hover:after, .card:focus-within:after {
		 transform: translateY(-50%);
	}
	 .card:hover .content, .card:focus-within .content {
		 transform: translateY(0);
	}
	 .card:hover .content > *:not(.title), .card:focus-within .content > *:not(.title) {
		 opacity: 1;
		 transform: translateY(0);
		 transition-delay: calc(var(--d) / 8);
	}
	 .card:focus-within:before, .card:focus-within:after, .card:focus-within .content, .card:focus-within .content > *:not(.title) {
		 transition-duration: 0s;
	}
}